@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {

    display: flex;
    flex-direction: column;
    gap: 100px;

}

.title_cont {

    position: relative;
    width: fit-content;
    padding: 0px 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.title_p {

    font-size: 1.25rem;
    text-align: center;
    color: var(--dark-gray-color);
    font-family: "Manrope", serif;

}

/* ====== responsive-style ====== */

@media only screen and (max-width: 590px) {

    .title_p {

        font-size: 1rem;

    }

}