@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container{

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.p{

    max-width: 700px;
    margin: auto;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: var(--dark-gray-color);
    font-family: "Quicksand", serif;

}

.boxes_cont{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.link_box{

    align-items: center;
    justify-content: center;

}

.link_box a{

    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--pink-color);
    transition: 0.3s;

    &:hover{

        scale: 0.95;

    }

}

/* ====== responsive-style ====== */

@media only screen and (max-width: 800px){

    .p{

        min-width: 100%;

    }

}