@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{

    padding-block: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: aqua;
    background-image: url(../../../Images/SVG/subscribe_bg_img.svg);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-position: center;

}

.container h3 , .container p{

    max-width: 800px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", serif;
    color: var(--dark-white-color);

}

.form{

    width: 450px;
    height: 64px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--white-color);
    overflow: hidden;

}

.form label{

    width: 50px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--lighter-gray-color);

}

.form input{

    width: calc(100% - 200px);
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: "Poppins", serif;
    color: var(--black-color);

    &::-webkit-input-placeholder{

        color: var(--lighter-gray-color);

    }

}

.form button{

    height: 100%;
    width: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: var(--white-color);
    border: none;
    border-radius: 50px;
    background-color: var(--pink-color);

}

/* ====== responsive-style ====== */

@media only screen and (max-width: 820px){

    .container h3, .container p{

        min-width: 100%;

    }

    .form{

        width: 100%;

    }

}

@media only screen and (max-width: 450px){

    .container h3, .container p{

        font-size: 1.8rem;

    }

    .form{

        max-width: 100%;

    }

}