/* ====== all-elements-style ====== */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* ====== colors-value ====== */

:root{

    --pink-color: #E072C1;
    --white-color: #FFFFFF;
    --black-color: #0B0B0B;
    --violet-color: #523364;
    --dark-gray-color: #656565;
    --dark-white-color: #FCFEFF;
    --light-gray-color: #A6A6A6;
    --middle-gray-color: #323232;
    --darker-gray-color: #3F3F3F;
    --lighter-gray-color: #909090;

    --light-violet-color: rgba(82, 51, 100, 0.05);

}

/* ====== body-&-scrollbar-style ====== */

body {

    width: 100%;
    background-color: var(--white-color);

}

::-webkit-scrollbar {

    width: 5px;
    background-color: var(--white-color);

}

::-webkit-scrollbar-thumb {

    background-color: var(--violet-color);

}

/* ======common-styles ====== */

html[lang="ar"] *,
html[lang="ar"] {

    font-family: "Cairo", sans-serif !important;

}

a {

    text-decoration: none;

}

.nav_bar_links.active{

    color: var(--pink-color);

}

.common_cont{

    width: 100%;
    padding: 50px 4.5%;

}